@mixin __tile {
  padding: 15px 0px;
  margin-bottom: 1.2rem;
  border-bottom: 1px solid #0505315e;
}
@mixin __more_icon{
   background: url("./index.png") no-repeat -170px -254px;
    background-size: 28.8462rem 35rem;
    width: 1.3846rem;
    height: 0.2308rem;
    position: relative;
    left: 70%;
}
@mixin __navActive{
   li {
      border-bottom: 2px solid transparent;
    }
    .navActive {
      border-bottom: 2px solid #ff8000;
      color: #ff8000;
    }
}
.hero_title {
  @include __tile;
  .ico_hero {
    background: url("./index.png") no-repeat -170px -267px;
    background-size: 375px 455px;
    width: 12px;
    height: 13px;
    margin-right: 0.5rem;
  }
  .more_hero {
    @include __more_icon
  }
  h3 {
    font-size: 1.2308rem;
  }
}
.hero_display {
  width: 100%;
  height: 10rem;
  padding-bottom: 1.1538rem;
  margin-bottom: 0.9231rem;
  .display_ul {
    width: 100%;
    .display_li {
      width: 100%;
      height: 100%;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.hero_slide {
  .hero_nav {
     @include __navActive;
  }
  .hero_slide_wrap {
    margin-top: 1.1538rem;
    width:100%;
    overflow: hidden;
     transition:all .5s ;
    .wrap_ui {
      width: 100%;
      display:none;
      overflow-x: hidden;
      text-align: left;
     
      li {
        margin-right: 10px;
        width: 4.4615rem;
        height: 6.6923rem;

        display: inline-block;
        a {
          width: 100%;
          height: 100%;
          img {
            display: block;
            width: 98%;
          }
          h3 {
              text-align: center;
            margin-top: 5px;
            font-size: 12px;
          }
        }
      }
    } 
    .isVality{
        display: inline-block;
    }
  }
}
